body {
  background-color: #f8f9fa;
}

h2 {
  font-weight: bold;
body {
  background-color: #f8f9fa;
  transition: 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode table {
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
}

.login-body {
  background-color: #e9ecef;
}
}


